@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

button {
  background: none;
  border: none;
  font-family: inherit;
  font-weight: inherit;
}

a {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #222;
  width: 100%;
}

body {
  background: #ffffff;
  width: 100%;
}

.page-header {
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #666;
}

.page-header-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 0 1 900px;
  margin: 20px 0;
}

.page-header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 250px;
  padding: 20px;
}

.page-header-ejlx {
  font-size: 2.5rem;
  font-weight: normal;
}

.page-header-title {
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.1;
}

.page-header-title-year {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: 1px;
}

.page-header-button-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 20px;
  padding-top: 10px;
}

.page-header-button {
  border-bottom: 1px solid #222;
  font-size: 0.75rem;
  color: #222;
  padding: 2px 6px;
  background: white;
  text-decoration: none;
  transition: background 0.2s linear, color 0.2 linear;
  margin-right: 12px;
}

.page-header-button:hover {
  background: #e2e2e3;
}

.page-header-calendar-container {
  display: flex;
  flex: 8;
  justify-content: center;
}

.calendar-container {
  flex-basis: 500px;
  padding: 10px;
}

.calendar-dow-row {
  display: flex;
  border-bottom: 1px solid #414444;
  height: 35px;
  align-items: center;
}

.calendar-dow-entry {
  flex-basis: 14%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px;
}

.calendar-days {
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
  height: 200px;
}

.calendar-day-entry {
  flex: 1 1 14%;
  min-width: 15px;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-link:hover {
  background: #e9792943;
  cursor: pointer;
}

.entry-container {
  padding-top: 16px;
  padding-bottom: 40px;
  max-width: 1450px;
  margin: auto;
}

.entry {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ededed;
}

.entry:first-of-type {
  padding-top: 8px;
}

.day-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 50px;
  font-weight: bold;
  font-size: 1.25rem;
}

.day-header-sticky {
  position: sticky;
  width: 100%;
  padding-top: 12px;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
}

.day-header-day-text {
  padding-top: 8px;
  display: flex;
}

.day-header-dow-text {
  margin-top: 8px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(66, 67, 68);
  color: white;
}

.entry-header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.entry-header-annoucement {
  font-size: 1.5rem;
  color: #222;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.entry-pair-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.entry-content-column {
  display: flex;
  flex-direction: column;
  flex: 1 1 500px;
}

.entry-header-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
}

.entry-header-server-avatar {
  width: 50px;
  height: 50;
  margin-right: 5px;
  border-radius: 50%;
}

.entry-header-global-avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.entry-header-text {
  font-weight: lighter;
  padding-left: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.85rem;
}

.entry-header-server-nickname {
  font-weight: normal;
  font-size: 1.2rem;
}

.entry-header-global-info>*:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid #aaa;
}

.entry-header-global-info>*:not(:first-child) {
  padding-left: 5px;
}

.entry-annoucement {
  flex-basis: 100%;
}

.entry-content {
  padding: 24px;
  font-size: 0.95rem;
}

.entry-content-block {
  margin-bottom: 8px;
}

.entry-attachment-container {
  display: flex;
  flex: 1;
  overflow-x: auto;
  max-height: 500px;
}

.bottom-bar-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: white;
  border-top: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  display: none;
}

.bottom-bar-button-group {
  display: flex;
  align-items: center;
}

.bottom-bar-button-group>button {
  height: 100%;
  width: 75px;
  cursor: pointer;
}

.bottom-bar-button-group>button:hover {
  background: #444;
  color: white;
}

.bottom-bar-button-group>a {
  background: white;
  height: 100%;
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-bar-button-group>a:hover {
  background: #444;
  color: white;
}